<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/app.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
  </head>
  
  <body ng-app="ionicApp" ng-controller="ContentDataCtrl">

    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>

    <ion-tabs class="tabs-stable">

      <ion-tab title="飲食" ui-sref="Diet" class="font-size-40px">
        <ion-nav-view name="DietView"></ion-nav-view>
      </ion-tab>

      <ion-tab title="洗手間" ui-sref="Toilet" class="font-size-40px">
        <ion-nav-view name="ToiletView"></ion-nav-view>
      </ion-tab>

      <ion-tab title="行動" ui-sref="Action" class="font-size-40px">
        <ion-nav-view name="ActionView"></ion-nav-view>
      </ion-tab>

      <ion-tab title="唔舒服" ui-sref="Uncomfortable" class="font-size-40px">
        <ion-nav-view name="UncomfortableView"></ion-nav-view>
      </ion-tab>

      <ion-tab title="愉樂" ui-sref="Entertainment" class="font-size-40px">
        <ion-nav-view name="EntertainmentView"></ion-nav-view>
      </ion-tab>

    </ion-tabs>


    <script type="text/ng-template" id="Diet.html">
      <ion-view title="飲食">
        <ion-content>
          <div class="row">
            <div class="list col col-50 padding" ng-repeat="item in Items | filter: { Category: 'Diet' }" ng-click="openModal(item.Description_zh, item.Picture)">
              <div class="item item-icon-right">
                {{ item.Description_zh }}
                <i class="icon ion-ios-arrow-down"></i>
              </div>

              <div class="item item-image">
                <img ng-src="{{ item.Picture }}">
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="Toilet.html">
      <ion-view title="洗手間">
        <ion-content>
          <div class="row">
            <div class="list col col-50 padding" ng-repeat="item in Items | filter: { Category: 'Toilet' }" ng-click="openModal(item.Description_zh, item.Picture)">
              <div class="item item-icon-right">
                {{ item.Description_zh }}
                <i class="icon ion-ios-arrow-down"></i>
              </div>

              <div class="item item-image">
                <img ng-src="{{ item.Picture }}">
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="Action.html">
      <ion-view title="行動">
        <ion-content>
          <div class="row">
            <div class="list col col-50 padding" ng-repeat="item in Items | filter: { Category: 'Action' }" ng-click="openModal(item.Description_zh, item.Picture)">
              <div class="item item-icon-right">
                {{ item.Description_zh }}
                <i class="icon ion-ios-arrow-down"></i>
              </div>

              <div class="item item-image">
                <img ng-src="{{ item.Picture }}">
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="Uncomfortable.html">
      <ion-view title="唔舒服">
        <ion-content>
           <div class="row">
            <div class="list col col-50 padding" ng-repeat="item in Items | filter: { Category: 'Uncomfortable' }" ng-click="openModal(item.Description_zh, item.Picture)">
              <div class="item item-icon-right">
                {{ item.Description_zh }}
                <i class="icon ion-ios-arrow-down"></i>
              </div>

              <div class="item item-image">
                <img ng-src="{{ item.Picture }}">
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="Entertainment.html">
      <ion-view title="愉樂">
        <ion-content>
          <div class="row">
            <div class="list col col-50 padding" ng-repeat="item in Items | filter: { Category: 'Entertainment' }" ng-click="openModal(item.Description_zh, item.Picture)">
              <div class="item item-icon-right">
                {{ item.Description_zh }}
                <i class="icon ion-ios-arrow-down"></i>
              </div>

              <div class="item item-image">
                <img ng-src="{{ item.Picture }}">
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>    

    <script id="contact-modal.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="item-icon-right">
          <h1 class="title font-size-50px">{{ ModalDescription_zh }}</h1>
          <i class="icon ion-close-round" ng-click="closeModal()"></i>
        </ion-header-bar>
        <ion-content>
          <div class="list col">
            <div class="item item-image">
              <img ng-src="{{ ModalPicture }}">
            </div>
          </div>
        </ion-content>
      </div>
    </script>

  </body>
</html>