/* Empty. Add your own CSS if you like */
.row {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.item {
	background-color: #f8f8f8;
}

.tab-nav {
	height: 100px;
}

.tab-item {
	padding-top: 25px;
}

.font-size-35px {
	font-size: 35px;
}

.font-size-50px {
	font-size: 50px !important;
}