/* Empty. Add your own CSS if you like */
.row {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.item {
	background-color: #f8f8f8;
	font-size: 40px !important;
}

.tab-nav {
	height: 80px;
}

.tab-item {
	padding-top: 25px;
}

.font-size-40px {
	font-size: 40px !important;
}

.title {
	font-size: 40px !important;
}